<%- include('header') -%>
<div id="login" class="text-center center-div">
  <div class="container w-25 border py-5">
    <div class="title pb-5">
      <h2 class="font-weight-bold">Login System</h2>
    </div>
  </div>
</div>
<%- include('footer') -%>
